#main {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 30%;
}

#settings { position: absolute;
    top: 0%;
    bottom: 0%;
    left: 70%;
    right: 0%;
    overflow-y: scroll;
}

#canvas {
    flex: 4;
    height: 100%;

    display: flex;
    justify-content: center;
}

#colorpicker {
    flex: 1;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.colorsampler {
    border: 1px dashed;
    margin: 2px;
}

#grid {
    height: 100%;
    margin: 10px;
    border: 1px solid;
    image-rendering: crisp-edges;
}
